.header-nav {
	@media screen and (max-width: 775px) {
		padding: 10px;
	}
	padding: 25px 15px;
	border-bottom: 1px solid #e0e0e0;
	&__wrapper {
		@media screen and (max-width: 775px) {
			justify-content: center;
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		max-width: 1230px;
	}
}
.logo {
}
.top {
	&__nav-menu {
		@media screen and (max-width: 775px) {
			display: none;
		}
		ul {
			list-style: none;
			display: flex;
			li {
				margin-right: 100px;
				&:last-child {
					margin-right: 0;
				}
				&:hover a {
					color: #a5c1c2;
					transition: color 0.3s ease;
				}
				a {
					text-transform: uppercase;
					text-decoration: none;
					font-size: 12px;
					line-height: 15px;
					color: #000;
					transition: color 0.2s ease;
				}
			}
		}
	}
}
.nav-menu {
	&__item {
	}
}
.market {
	@media screen and (max-width: 775px) {
		display: none;
	}
	display: flex;
}
.showroom {
	margin-right: 50px;
	img {
		margin-right: 15px;
	}
	display: flex;
	align-items: center;
}
.cart {
}
