* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #1a1a1a;
}

.container {
	max-width: 1357px;
	margin: 0 auto;
	padding: 0 15px;
}
