@media screen and (max-width: 1200px) {
    .features__body {
        flex-wrap: wrap;
        gap: 0;
    }
    .features__title {
        text-align: center;
        margin-bottom: 0;
    }
    .features__part {
        flex: 0 0 100%;
    }
    .features__part:first-child::before {
        display: none;
    }
}
@media screen and (max-width: 1150px) {
    .detailing {
        padding: 4.8rem 0;
    }
    .detailing__item {
        flex: 1 0 32.5rem;
    }
    .video {
        padding: 8rem 0;
    }
}
@media screen and (max-width: 918px) {
    .hero__title {
        line-height: 100%;
        padding-top: 8rem;
        font-size: 8rem;
    }
}
@media screen and (max-width: 876px) {
    .links__body {
        flex-wrap: wrap;
    }
    .links__title {
        margin-bottom: 1rem;
    }
    .links__descr {
        margin-bottom: 4rem;
    }
    .links__part {
        flex-grow: 1;
    }
    .links__lists {
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .hero {
        padding-bottom: 0rem;
    }
    .video,
    .detailing {
        padding: 4rem 0;
    }
}
@media screen and (max-width: 700px) {
    body.--lock {
        overflow: hidden;
    }
    section {
        padding: 8rem 0;
    }
    .header {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        background-color:var(--main-color);
        color: var(--text-color);
        transition: top 0.4s ease-in-out 0s;
    }
    .header__body {
        padding: 100px 20px;
        flex-direction: column;
    }
    .header.--active {
        top: 0;
    }
    .header__nav-list {
        padding: 5rem 0;
        text-align: center;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        max-width: 100%;
        width: 100%;
    }
    .header__nav-item {
        padding: 0.8rem;
        width: 100%;
    }
    .header__nav-link {
        text-transform: uppercase;
        font-size: 3rem;
        color: var(--text-color);
    }
    .logo {
        font-size: 5rem;
    }

    .burger {
        display: flex;
        width: 4rem;
        height: 4rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        top: 4rem;
        right: 4rem;
        z-index: 15;
    }
    .header::after {
        content: "";
        display: block;
        width: 100%;
        height: 111px;
        background-color: var(--main-color);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .logo {
        position: fixed;
        top: 4rem;
        left: 4rem;
        z-index: 3;
    }
    .logo a {
        font-size: 2.4rem;
        color: var(--text-color);
    }
    .get-quote {
        font-size: 3rem;
        font-weight: 500;
        color: var(--text-color);
        text-transform: uppercase;
        display: block;
        border: 2px solid var(--text-color);
        border-radius: 0.8rem;
    }
    .detailing .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .footer__body {
        flex-wrap: wrap;
        padding: 2.8rem 0;
    }
    .copyright {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 570px) {
    .booking__body {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@media screen and (max-width: 530px) {
    .links__lists {
        flex-wrap: wrap;
    }
    .links__list:nth-child(2) {
        margin-left: 4rem;
    }
    .links__list:last-child {
        margin-left: 4rem;
    }
}
@media screen and (max-width: 426px) {
    .links__lists {
        flex-direction: column;
    }
    .links__list {
        margin-bottom: 4rem;
    }
    .links__list:nth-child(2) {
        margin-left: 0rem;
    }
    .links__list:last-child {
        margin-left: 0rem;
        margin-bottom: 0rem;
    }
    .links__list-title {
        font-size: 2.4rem;
    }
    .links__link {
        font-size: 2.4rem;
    }
    .footer__body {
        flex-direction: column;
    }
    .copyright {
        font-size: 2.4rem;
    }
    .footer__links-list {
        gap: 0.8rem;
    }
    .footer__links-link {
        font-size: 2rem;
    }
    .footer__links-list {
        flex-direction: column;
    }
}
@media screen and (max-width: 425px) {
    .detailing__subtitle {
        padding: 2rem 0;
    }
    .detailing__title {
        font-size: 3.6rem;
    }
    .detailing .row {
        padding: 2rem 0;
    }
}
@media screen and (max-width: 400px) {
    .hero__title {
        font-size: 4rem;
    }
}
@media screen and (max-width: 352px) {
    .detailing__item {
        flex-shrink: 1;
    }
}
