/* @import url("./media.css"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: "Clash";
    src: url("../fonts/ClashDisplay-Regular.eot");
    src:
        url("../fonts/ClashDisplay-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ClashDisplay-Regular.woff2") format("woff2"),
        url("../fonts/ClashDisplay-Regular.woff") format("woff"),
        url("../fonts/ClashDisplay-Regular.ttf") format("truetype"),
        url("../fonts/ClashDisplay-Regular.svg#ClashDisplay-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --container-width: 1088px;
    --container-padding: 12px;
    --main-color: #000000;
    --text-color: #ffffff;
}
/* configs */
::-webkit-scrollbar {
    display: none;
}
section {
    padding: 4.2rem 0;
}
p {
    font-size: 2rem;
}
.container {
    max-width: calc(var(--container-width) + var(--container-padding));
    margin: 0 auto;
    padding: 0 var(--container-padding);
}
.row {
    display: flex;
}
html,
body {
    font-family: "Clash", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 10px;
}
ul,
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
}
.link::after,
.detailing__item-link::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* header */

.header {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--main-color);
    padding: 2.4rem 0;
}
.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
}
.header__nav {
}
.header__nav-list {
    display: flex;
    gap: 3.2rem;
}
.header__nav-item {
}
.header__nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.header__btn {
}
.get-quote {
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    padding: 19px 26px;
    border: 1px solid var(--text-color);
    border-radius: 0.8rem;
}
.burger {
    display: none;
}
.burger span {
    position: relative;
}
.burger span,
.burger span::before,
.burger span::after {
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--text-color);
}
.burger span::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
}
.burger span::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
}
/* hero */
.hero {
    background: radial-gradient(at center, #010101, #000000);
    padding-bottom: 9.2rem;
}
.hero__body {
}
.hero__title {
    padding-top: 19.2rem;
    font-size: 9.6rem;
    line-height: 2.4rem;
    text-align: center;
    font-weight: 500;
    color: var(--text-color);
}
.hero__subtitle {
    font-size: 2rem;
    line-height: 3rem;
    color: #e1e1e1;
    max-width: 517px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4.8rem;
}
.subtitle {
}
.hero__link {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.6rem;
    padding-top: 4.8rem;
    margin-bottom: 8rem;
}
.hero__image {
    max-width: 1440px;
    margin: 0 auto;
}
.hero__image,
.hero__image img {
    width: 100%;
}
.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* detailing */
.detailing {
    background-color: #555;
    background-color: var(--main-color);
    padding-top: 0;
    padding-bottom: 7rem;
}
.detailing .container {
    max-width: calc(var(--container-width) + 56px);
}
.detailing__body {
}
.detailing__subtitle {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: #999;
    padding: 4rem 0;
    border-bottom: 1px solid #999;
}
.detailing .row {
    gap: 1.27rem;
    padding: 4.8rem 0 8rem;
}
.detailing__title {
    flex: 1 0 50%;
    font-size: 4.8rem;
    line-height: 5.4rem;
    font-weight: 500;
    color: var(--text-color);
}
.detailing__descr {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    color: #999;
}
.detailing__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
    flex-wrap: wrap;
}
.detailing__item {
    flex: 0 0 32.5rem;
}
.detailing__item-img {
    height: 32.5rem;
    max-width: 100%;
    margin-bottom: 3.2rem;
}
.detailing__item-img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detailing__item-title {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: var(--text-color);
}
.detailing__item-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #999;
    padding-top: 2rem;
}
.detailing__item-link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding-top: 3.2rem;
}
.detailing__item-link::after {
    width: 14px;
    height: 10px;
    transform: rotate(45deg) translatey(-4px);
}

/* video */
.video {
    background-color: var(--main-color);
    padding: 13.5rem 0;
}
.video .container {
    max-width: calc(var(--container-width) + 56px);
}

.video__body {
    /* border: 1px dashed red; */
}
.video__content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 16px 0px rgba(255, 255, 255, 0.1);
}
.video__content img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    /* border: 1px solid red; */
}
.video__controls {
    display: flex;
    flex-direction: column;

    color: var(--text-color);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-btn {
}
.play-btn__text {
    margin-top: 2.4rem;
}

/* features */
.features {
    background-color: var(--main-color);
    color: var(--text-color);
}
.container {
}
.features__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    gap: 22.4rem;
}
.features__part {
    position: relative;
    flex: 0 0 44.8rem;
}
.features__part:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    right: -11rem;
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}
.features__title {
    font-size: 4.8rem;
    line-height: 5.4rem;
    font-weight: 600;
    margin-bottom: 6.4rem;
}
.features__img {
    width: 100%;
}
.features__img img {
    width: 100%;
}
.features__text {
}
.features__text-list {
}
.features__text-item {
    padding: 4rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.features__text-item:first-child {
    padding-top: 0;
}
.features__text-item:last-child {
    padding: 0;
    border-bottom: none;
}
.features__text-item:nth-child(3) {
    border-bottom: none;
}
.features__text-item-title {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    line-height: 5.4rem;
    margin-bottom: 0rem;
}
.features__text-item-title svg {
    margin-right: 2rem;
}
.features__text-item-descr {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ccc;
}
.features__text-item-link {
    font-size: 2rem;
    line-height: 3.6rem;
}

/* booking */
.booking {
    background-color: var(--main-color);
    color: var(--text-color);
}
.booking .container {
}
.booking__body {
    padding: 100px 64px 175px;
    border-radius: 2rem;
    background-image: url(../img/booking-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 50%;
}
.booking__title {
    font-size: 4.8rem;
    line-height: 5.4rem;
    max-width: 42.5rem;
    margin-bottom: 4rem;
}
.booking__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 33rem;
    margin-bottom: 4.8rem;
    color: #ccc;
}
.booking__link {
    font-size: 2rem;
    line-height: 3.6rem;
    font-weight: 500;
}

/* links */
.links {
    background-color: var(--main-color);
    color: var(--text-color);
}
.container {
}
.links__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.links__part {
}
.links__text {
    flex: 0 0 35.2rem;
}
.links__title {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 3.2rem;
}
.links__descr {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #999;
}
.links__lists {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.links__list:nth-child(2) {
    margin-left: 10rem;
}
.links__list:last-child {
    margin-left: 8.7rem;
}
.links__list {
    flex: 0 0 10.5rem;
}
.links__item {
    margin-bottom: 0.8rem;
}
.links__item:last-child {
    margin-bottom: 0rem;
}
.links__list-title {
    font-size: 1.6rem;
    line-height: 3rem;
    color: #999;
    font-weight: 500;
    margin-bottom: 1.6rem;
}
.links__link {
    font-size: 1.6rem;
    line-height: 3rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2.4rem;
}

/* footer */
.footer {
    background-color: var(--main-color);
    color: var(--text-color);
}
.container {
}
.footer__body {
    padding: 6rem 0;
    border-top: 1px solid #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.footer__links {
}
.footer__links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
}
.footer__links-item {
}
.footer__links-link {
    font-size: 1.6rem;
    line-height: 3rem;
}
