* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
.header {
    background: rgb(255, 247, 0);
    min-height: 100vh;
}
.header .title {
    margin-top: 200px;
    text-align: center;
}
.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__nav {
    padding-top: 20px;
}
.header__nav ul {
    display: flex;
    justify-content: space-between;
}
.header__nav ul li {
    list-style: none;
}
.header__nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(21, 3, 3);
    font-weight: bold;
}
.header__nav ul li a:hover {
    color: rgb(183, 19, 19);
}
.title {
    text-align: center; 
}
section {
    padding: 50px 0;
}
.section1 {
    background: rgb(124, 124, 124);
}
.section2 {
    background: rgb(255, 255, 255);
}
.section3 {
    background: rgb(124, 124, 124);
}
.footer {
    color: #fff;
    padding: 80px 0;
    background: rgb(32, 32, 32);
}