@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #1a1a1a;
}

.container {
  max-width: 1357px;
  margin: 0 auto;
  padding: 0 15px;
}

::-webkit-scrollbar {
  display: none;
}

.header-top {
  width: 100%;
  background: #f4f4f4;
  padding: 0 15px;
}

.header-top__wrapper {
  max-width: 1380px;
  padding: 0 2px;
  margin: 0 auto;
}

@media screen and (max-width: 580px) {
  .header-top__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-top__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: -10px;
}

@media screen and (max-width: 775px) {
  .header-top__wrapper ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header-top__wrapper ul li {
  list-style: none;
  margin-right: 30px;
}

@media screen and (max-width: 775px) {
  .header-top__wrapper ul li {
    margin-right: 0;
  }
}

@media screen and (max-width: 580px) {
  .header-top__wrapper ul li {
    margin-right: 30px;
  }
}

.header-top__wrapper ul li:last-child {
  position: relative;
  margin-right: 0;
}

.header-top__wrapper ul li:last-child::after {
  position: absolute;
  top: 50%;
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -webkit-transform: rotate(45deg) translateY(-100%);
          transform: rotate(45deg) translateY(-100%);
}

.header-top__wrapper ul li a {
  font-weight: 400;
  line-height: 33px;
  text-transform: uppercase;
  text-decoration: none;
  color: #aaa;
}

@media screen and (max-width: 360px) {
  .header-top__wrapper ul li a {
    font-size: 12px;
  }
}

.header-nav {
  padding: 25px 15px;
  border-bottom: 1px solid #e0e0e0;
}

@media screen and (max-width: 775px) {
  .header-nav {
    padding: 10px;
  }
}

.header-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1230px;
}

@media screen and (max-width: 775px) {
  .header-nav__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 775px) {
  .top__nav-menu {
    display: none;
  }
}

.top__nav-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__nav-menu ul li {
  margin-right: 100px;
}

.top__nav-menu ul li:last-child {
  margin-right: 0;
}

.top__nav-menu ul li:hover a {
  color: #a5c1c2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.top__nav-menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.market {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 775px) {
  .market {
    display: none;
  }
}

.showroom {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showroom._icon-location:before, .showroom._icon-cart:before {
  font-size: 22px;
  margin-right: 10px;
}

.showroom:hover:before {
  color: red;
  font-weight: 600;
}

.header-main {
  padding: 48px 0px;
}

@media screen and (max-width: 768px) {
  .header-main {
    padding-top: 0;
  }
}

.header-main__wrapper {
  max-width: 1327px;
  margin: 0 auto;
}

.header-main__wrapper img {
  width: 100%;
}

.header-text {
  padding-top: 80px;
}

.header-text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1230px;
          flex: 0 1 1230px;
  padding: 0 15px;
}

@media screen and (max-width: 1100px) {
  .header-text__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 756px;
            flex: 0 1 756px;
    padding: calc(screen * 10%);
  }
}

@media screen and (max-width: 1024px) {
  .header-text {
    padding-top: 0;
  }
}

@media screen and (max-width: 940px) {
  .header-text__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-text__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 355px;
          flex: 0 1 355px;
  font-family: "Roboto", sans-serif;
}

.header-text__title h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

@media screen and (max-width: 1100px) {
  .header-text__title h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 940px) {
  .header-text__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
}

.header-text__descr {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 569px;
          flex: 0 1 569px;
}

.header-text__descr p {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #aaaaaa;
}

@media screen and (max-width: 1100px) {
  .header-text__descr p {
    font-size: 16px;
  }
}

@media screen and (max-width: 940px) {
  .header-text__descr {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
}

.rooms {
  padding: 210px 0px;
}

@media screen and (max-width: 1024px) {
  .rooms {
    padding-top: 80px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 860px) {
  .rooms {
    padding-bottom: 120px;
  }
}

.rooms__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (450px)[2];
      grid-template-rows: repeat(2, 450px);
  gap: 24px;
  row-gap: 48px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .rooms__body {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (450px)[4];
        grid-template-rows: repeat(4, 450px);
  }
}

.rooms__item {
  position: relative;
}

.rooms__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rooms__item-title {
  position: absolute;
  bottom: -32px;
  left: 0;
  z-index: 2;
}

.rooms__item-title h4 {
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  color: #1a1a1a;
}

.brands {
  padding-bottom: 190px;
}

.brands .container {
  max-width: 1110px;
  padding: 0 10px;
}

.brands__title {
  font-size: 48px;
  line-height: 48px;
  font-family: sans-serif;
  color: #1a1a1a;
  text-align: center;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 860px) {
  .brands__title {
    font-size: 36px;
  }
}

.brands__subtitle {
  font-size: 24px;
  line-height: 36px;
  color: #4a4a4a;
  text-align: center;
  margin: 0 0 125px 0;
}

@media screen and (max-width: 860px) {
  .brands__subtitle {
    font-size: 20px;
    margin: 0 0 30px 0;
  }
}

.brands__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (109px)[3];
      grid-template-rows: repeat(3, 109px);
  grid-auto-rows: 109px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (max-width: 860px) {
  .brands__gallery {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .brands__gallery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 472px) {
  .brands__gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.advantages {
  padding: 80px 0;
}

.advantages__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #1a1a1a;
}

.advantages__subtitle {
  font-size: 14px;
  line-height: 12px;
  color: #46856e;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 71px;
}

@media screen and (max-width: 1024px) {
  .advantages__subtitle {
    margin-bottom: 10px;
  }
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__item {
  -ms-flex-preferred-size: 333px;
      flex-basis: 333px;
  padding: 10px 5px;
}

@media screen and (max-width: 1024px) {
  .advantages__item {
    margin-top: 50px;
  }
}

@media screen and (max-width: 685px) {
  .advantages__item {
    padding: 25px 15px;
    -webkit-box-shadow: 0 0 5px 2px #ccc;
            box-shadow: 0 0 5px 2px #ccc;
  }
}

.advantages__item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
}

.advantages__item h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1a1a;
  margin-bottom: 18px;
}

.advantages__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #aaa;
}

.advantages .container {
  max-width: 1110px;
  padding: 0 10px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 25px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  outline: none;
  border: none;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/icons/slider/left-arr.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/icons/slider/right-arr.svg") 0 0/100% no-repeat;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 12px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e5e5e5;
  outline: none;
  border: none;
}

.slider .slick-dots li.slick-active button {
  background: #46856e;
}
