.works {
	padding: 100px 15px;
	padding-top: 121px;
	&__title {
		margin-bottom: 90px;
		h3 {
			position: relative;
			font-size: 44px;
			font-weight: 400;
			// line-height: 24px;
			color: #222222;
			text-transform: uppercase;
			text-align: center;
			span {
				font-weight: 700;
			}
			&::after,
			&::before {
				content: "";
				display: block;
				position: absolute;
				width: 98px;
				height: 4px;
				background-color: $color-02;
			}
			&::before {
				bottom: -30px;
				transform: translateX(-50%);
				left: 50%;
			}
			&::after {
				background-color: #fdc57c;
				width: 66px;
				bottom: -45px;
				transform: translate(-50%, 100%);
				left: 50%;
			}
		}
	}

	&__descr {
		font-size: 16px;
		line-height: 24px;
		color: #6c6c6c;
		font-style: italic;
		text-align: center;
		margin-bottom: 120px;
	}

	&__items-filter {
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 50px;
			#filter-title {
				border-right: none;
			}
			li {
				position: relative;
				list-style: none;
				border-right: 1px solid #ccc;
				padding: 0 10px;
				text-decoration: none;
				color: #6c6c6c;
				font-size: 18px;
				&:last-child {
					border-right: none;
				}
				a {
					text-decoration: none;
					color: #6c6c6c;
					font-size: 18px;
				}
				.filter-title {
					color: #222222;
					text-transform: uppercase;
					font-weight: 600;
					// margin-right: 550px;
				}
				&:hover a {
					color: $color-02;
					transition: all 0.25s ease-out;
				}
			}
			.filters {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 0;
			}
		}
	}

	&__items-gallery {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	&__items-gallery-item {
		flex-wrap: wrap;
		position: relative;
		min-width: 263px;
		max-height: 237px;
		overflow: hidden;
		cursor: pointer;
		flex: 0 0 22%;
		margin-bottom: 20px;
		margin-right: 20px;
	}
	&__items-gallery-item:hover .hidden-layer {
		transition: all 0.25s ease;
		top: 0;
		// left: 0;
		transform: scale(1);
		opacity: 1;
		cursor: pointer;
	}
}
.hidden-layer {
	position: absolute;
	max-width: 262px;
	width: 100%;
	height: 100%;
	top: -100%;
	left: -0%;
	transition: all 0.5s ease;
	padding: 60px 20px;
	text-align: center;
	background-color: #222222;
	opacity: 0.5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&__title {
		font-size: 20px;
		text-transform: uppercase;
		line-height: 24px;
		color: #ffffff;
		font-weight: 500;
	}
	span {
		font-size: 14px;
		color: #b2b2b2;
		line-height: 24px;
	}

	&__icon {
		position: relative;
		width: 40px;
		height: 40px;
		border: 1px solid #be8a45;
		border-radius: 100%;
		transition: box-shadow 0.25s ease;
	}
	&__icon:hover {
		box-shadow: 0 0 5px #be8a45;
		cursor: pointer;
		transition: box-shadow 0.25s ease;
	}
	&__icon:hover,
	&__icon:hover .ver,
	&__icon:hover .hor {
		border-color: #be8a45;
	}

	&__icon-line {
		position: relative;
	}
	.ver,
	.hor {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%);
		width: 18px;
		height: 18px;
		border-left: 1px solid #b9823a;
	}
	.hor {
		border-left: 1px solid #b9823a;
		top: 50%;
		transform-origin: 50%;
		transform: translateX(-50%) rotate(90deg);
	}
}
.hide {
	opacity: 1;
	animation-name: a1;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}
@keyframes a1 {
	to {
		flex: 0;
		opacity: 0;
		min-height: 0;
		min-width: 0;
		padding: 0;
		margin: 0;
		border: 0;
	}
}
